/* common style for all categories */
h2{
  margin-top: 0;
  text-align: center;
}
:root{
  --c1: #00bcc0; 
  --c2: #0f656b;
  --fontTitle: Roboto, sans-serif;
  --fontN: Helvetica, sans-serif;
}

/* other */
.catImg{
  height: 330px;
}
.catImg a img{
  height: 240px;
}
@media screen and (max-width: 734px){
  .catImg, .catImg a img{
    height: auto;
  }
}
.containInfo{
  display: grid;
  grid-template-columns: auto 30%;
}
.catImg img:hover{
  transform: none !important;
  cursor: pointer;
  filter: brightness(90%);
}
.containInfo .left{
  text-align: left;
}
.catImg .left{
  font: 18px var(--fontN);
}
span ~ div#catDropdown-content a:hover{
  color: var(--c2);
}
@media screen and (max-width: 400px){
  .catImg .left{
    font-size: 15px;
  }
}
/*----------- buy button -----------*/ 
span ~ div#catDropdown-content{
  font-size: 16px;
}
span ~ div#catDropdown-content a{
  font-size: 14px;
}
@media screen and (max-width: 308px){
  span ~ div#catDropdown-content{
    font-size: 13px;
  }
  span ~ div#catDropdown-content a{
    font-size: 12px !important;
  }
}
.buy span{
  display: block;
  width: 100%;
  padding: 8px 12px;
  font: bold 16px "Times New Roman", serif;
  border-radius: 5px;
  cursor: pointer;
  border: 2px outset black !important;
}
.buy span:hover{
  color: var(--c2);
  border-color: var(--c2) !important;
}
@media screen and (max-width: 350px){
  .buy span{
    border-width: 1px !important;
    font-size: 13px;
  }
}
@media screen and (max-width: 290px){
  .buy span{
    font-size: 10px;
  }
}
/*----------- buy button end -----------*/ 
